
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout1Contact.cshtml";
}


<!--slider sec strat-->
<section id="slider-sec" class="slider-sec parallax" style="background: url('./img/blogs/about-us-slider.jpg');">
    <div class="overlay text-center d-flex justify-content-center align-items-center">
        <div class="slide-contain">
            <h4>About Us</h4>
            <div class="crumbs">
                <nav aria-label="breadcrumb" class="breadcrumb-items">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../index-film.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="single-blog.html">About Us</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--slider sec end-->
<!--mini services start-->
<section class="mini-services" id="mini-services">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-3 text-center mini-s">
                <div class="mini-service-card">
                    <div class="service-icon"><i class="las la-paper-plane"></i></div>
                    <h4 class="mini-service-heading">FREE SHIPPING</h4>
                    <span class="small-des">ON $300 ABOVE ORDER</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mini-s">
                <div class="mini-service-card">
                    <div class="service-icon"><i class="las la-headset"></i></div>
                    <h4 class="mini-service-heading">SUPPORT</h4>
                    <span class="small-des">ON $300 ABOVE ORDER</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mini-s">
                <div class="mini-service-card">
                    <div class="service-icon"><i class="las la-globe-europe"></i></div>
                    <h4 class="mini-service-heading">FREE REFUND</h4>
                    <span class="small-des">ON $300 ABOVE ORDER</span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 text-center mini-s">
                <div class="mini-service-card">
                    <div class="service-icon"><i class="las la-phone"></i></div>
                    <h4 class="mini-service-heading">CONTACT US</h4>
                    <span class="small-des">ON $300 ABOVE ORDER</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--mini services end-->
<!--about us section start-->
<section class="about-sec padding-top padding-bottom" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading-details">
                    <h4 class="heading">About Our Farm</h4>
                </div>
            </div>
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="row services-area">
            <div class="col-12 col-lg-4 services text-center">
                <div class="service-card">
                    <div class="image-holder"><i class="las la-campground"></i></div>
                    <h4 class="service-heading">Who We Are?</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn web-trans-btn rounded-pill">Read More</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 services text-center">
                <div class="service-card">
                    <div class="image-holder"><i class="las la-tractor"></i></div>
                    <h4 class="service-heading">How We Do?</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn web-trans-btn rounded-pill">Read More</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 services text-center">
                <div class="service-card">
                    <div class="image-holder"><i class="las la-seedling"></i></div>
                    <h4 class="service-heading">What We Grow?</h4>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn web-trans-btn rounded-pill">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--about us section end-->
<!--testimonial sec start-->
<section class="testimonial-sec padding-top padding-bottom" id="testimonial-sec">
    <svg id="test-header" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="60" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C40 0 60 0 100 100 Z" />
    </svg>

    <div class="container">
        <div class="testimonial-carousel owl-carousel owl-theme">
            <div class="item text-center">
                <div class="testimonial-review">
                    <div class="review-image">
                        <img src="img/review.jpg">
                    </div>
                    <div class="review-detail">
                        <h4 class="test-heading">The Best Organic Store!</h4>
                        <p class="text-des">Lorem ipsum is simply dummy text of the printing and type setting. Lorem Ipsum has been the industry’s is dummy. Lorem ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry’s standard dummy.</p>
                        <ul class="test-review">
                            <li><a href="#"><i class="las la-star"></i></a></li>
                            <li><a href="#"><i class="las la-star"></i></a></li>
                            <li><a href="#"><i class="las la-star"></i></a></li>
                            <li><a href="#"><i class="las la-star"></i></a></li>
                            <li><a href="#"><i class="las la-star"></i></a></li>
                        </ul>
                    </div>
                    <div class="client-info media-body">
                        <h5 class="client-name mt-0">JOE MARTIN </h5>
                        <p class="client-designation">/ CEO.</p>
                    </div>
                </div>
            </div>
            <div class="item text-center">
                <div class="testimonial-review">
                    <div class="review-image">
                        <img src="img/rev1.jpg">
                    </div>
                    <div class="review-detail">
                        <h4 class="test-heading">The Best Organic Store!</h4>
                        <p class="text-des">Lorem ipsum is simply dummy text of the printing and type setting. Lorem Ipsum has been the industry’s is dummy. Lorem ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry’s standard dummy.</p>
                        <ul class="test-review">
                            <li><a href="#"><i class="las la-star"></i></a></li>
                            <li><a href="#"><i class="las la-star"></i></a></li>
                            <li><a href="#"><i class="las la-star"></i></a></li>
                            <li><a href="#"><i class="las la-star"></i></a></li>
                            <li><a href="#"><i class="las la-star"></i></a></li>
                        </ul>
                    </div>
                    <div class="client-info media-body">
                        <h5 class="client-name mt-0">JOE MARTIN </h5>
                        <p class="client-designation">/ CEO.</p>
                    </div>
                </div>
            </div>
        </div>

        <a id="customPrevBtn" class="test-btn"><i class="fas fa-angle-left"></i></a>
        <a id="customNextBtn" class="test-btn"><i class="fas fa-angle-right"></i></a>
    </div>

    <!--    <svg id="test-footer" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="60" viewBox="0 0 100 100" preserveAspectRatio="none">-->
    <!--        <path d="M0 100 C40 0 60 0 100 100 Z"/>-->
    <!--    </svg>-->
</section>
<!--testimonial sec end-->
<!--newsletter sec start-->
<section class="newsletter" id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 text-center text-md-left">
                <h4 class="newsletter-heading"><i class="las la-envelope"></i>Newsletter </h4>
                <p class="newsletter-text">Subscribe Us to for News and Advice.</p>
            </div>
            <div class="col-12 col-md-8">
                <form>
                    <div class="input-group">
                        <input class="form-control" placeholder="Enter Email">
                        <a href="#" class="btn news-btn">Subscribe</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--newsletter sec end-->
